
// font classes
.font-prg {font-family: font(prg) !important;}
.font-pmd {font-family: font(pmd) !important;}
.font-psbd {font-family: font(psbd) !important;}
.font-pebd {font-family: font(pebd) !important;}


